
<div style="margin-left:var(--main-div-margin-left);margin-top:var(--border-margin)">
    <!-- ******************************* -->
    <!-- * NAME, AFFILIATION AND PHOTO * -->
    <!-- ******************************* -->
    <table style="width:100%;">
    <tbody>
    <tr style="width:100%;" valign="middle">
        <td style="text-align:left;">
            <h1 style="color:maroon;">Maher Mallem</h1>
            <h2 style="color:black;">Maître de Conférences (assistant professor) at <a href="https://www.supmicrotech.fr/en" target="_blank">Supmicrotech</a>.</h2>
            <h3><a href="https://www.femto-st.fr/en" target="_blank">FEMTO-ST</a> laboratory, <a href="https://www.femto-st.fr/en/Research-departments/AS2M/Presentation" target="_blank">AS2M</a> department, <a href="https://www.femto-st.fr/en/Research-departments/AS2M/Research-groups/DATA-PHM" target="_blank">DYNAMO</a> team.</h3>
        </td>
        <td style="width:25%;text-align:right;" valign="top">
            <img style="border:2px solid black;"" height="250" alt="photo-maher" src="/img/photo_maher.jpg"></img>
        </td>
    </tr>
    </tbody>
    </table>
    <hr />

    <br />
</div>