
<div style="margin-left:var(--main-div-margin-left);margin-top:var(--border-margin)">
    <!-- ******************************* -->
    <!-- * NAME, AFFILIATION AND PHOTO * -->
    <!-- ******************************* -->
    <table style="width:100%;">
    <tbody>
    <tr style="width:100%;" valign="middle">
        <td style="text-align:left;">
            <h1 style="color:maroon;">Maher Mallem</h1>
            <h2 style="color:black;">Postdoctoral researcher at <a href="https://www.grenoble-inp.fr/en" target="_blank">Grenoble INP</a>.</h2>
            <h3><a href="https://g-scop.grenoble-inp.fr/en" target="_blank">G-SCOP</a> laboratory, <a href="https://g-scop.grenoble-inp.fr/en/research/operations-research-for-production-systems" target="_blank">Operational Research</a> team.</h3>
        </td>
        <td style="width:25%;text-align:right;" valign="top">
            <img height="250" width="200" alt="photo-maher" src="/img/photo_maher.jpg"></img>
        </td>
    </tr>
    </tbody>
    </table>
    <hr />

    <br />
</div>