<div style="position:fixed;margin-top:var(--border-margin);text-align:center;">
    <!-- ********* -->
    <!-- * LOGOS * -->
    <!-- ********* -->
    <a href="https://www.grenoble-inp.fr/en" target="_blank"><img height="132" width="164" alt="logo-grenoble-inp" src="/img/logo_grenoble_inp.png"></img></a>
    <br />
    <br />
    <a href="https://g-scop.grenoble-inp.fr/en" target="_blank"><img height="67" width="164" alt="logo-g-scop" src="/img/logo_g-scop.png"></img></a>
    <!-- ************ -->
    <!-- * LINK BAR * -->
    <!-- ************ -->
    <ul style="padding:20px;border:2px solid black;background-color:white;text-align:left;">
        <li><a style="color:var(--side-bar-link-color);" href = "/">Home</a></li>
        <br />
        <li><a style="color:var(--side-bar-link-color);" href = "/#cv">CV</a></li>
        <br />
        <li><a style="color:var(--side-bar-link-color);" href = "/#research">Research</a></li>
        <br />
        <ul>
            <li><a style="color:var(--side-bar-link-color);" href = "/activities">Activities</a></li>
            <br />
            <li><a style="color:var(--side-bar-link-color);" href = "/preprints">Publications</a></li>
            <br />
            <li><a style="color:var(--side-bar-link-color);" href = "/talks">Talks</a></li>
        </ul>
        <br />
        <li><a style="color:var(--side-bar-link-color);" href = "/#teaching">Teaching</a></li>
        <br />
        <li><a style="color:var(--side-bar-link-color);" href = "/#contact">Contact</a></li>
    </ul>
    <!-- ********* -->
    <!-- * ICONS * -->
    <!-- ********* -->
    <a href="https://orcid.org/0000-0001-5654-1090" target="_blank"><img src="/img/icon_orcid.png" style="height:var(--side-bar-icon-height)"></img></a>
    <a href="https://dblp.org/pid/335/5704.html" target="_blank"><img src="/img/icon_dblp.png" style="height:var(--side-bar-icon-height)"></img></a>
    <a href="https://scholar.google.com/citations?user=GjpdFKgAAAAJ" target="_blank"><img src="/img/icon_google_scholar.png" style="height:var(--side-bar-icon-height)"></img></a>
    <a href="https://fr.linkedin.com/in/maher-mallem-62a504178" target="_blank"><img src="/img/icon_linkedin.png" style="height:var(--side-bar-icon-height)"></img></a>
</div>